html {
  font-size: 62%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body {
  background-color: #edecec;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

*::-webkit-scrollbar {
  position: absolute;
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: lightgray;
}

.hide {
  display: none;
}

body {
  font: 1.35rem/1.5 "Open Sans", Arial, Helvetica, sans-serif;
  color: #515151;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h4 {
  font-weight: 600;
  font-size: 1.8rem;
}

img {
  display: block;
}

.btn{
  padding: .45rem 1.4rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn--primary{
  background-color: #50a2e6;
  color: #fafafa;
}

.image--round {
  display: block;
  background-color: lightgray;
  border-radius: 50%;
}

.image--back {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image--icon {
  width: 2rem;
  height: 2rem;
}

.container--header-padding{
  padding-top: 7rem;
}

.container__small-hr{
  background-color: red;
  height: 1px;
  width: 5rem;
  margin-top: 5px;
  margin-bottom: 2rem;
}

.card{
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 14px #f6f6f6, 0 0 4px #dddd;
}

.card__body, .card__footer{
  padding: .7rem 1rem;
}

.grid{
  display: grid;
}

.flex {
  display: flex;
}

.flex--a-start {
  align-items: flex-start;
}

.flex--a-center {
  align-items: center;
}

.flex--a-bottom {
  align-items: flex-end;
}

.flex--j-space-between {
  justify-content: space-between;
}

.flex--j-space-around {
  justify-content: space-around;
}

.flex--j-center {
  justify-content: center;
}

.flex--j-end {
  justify-content: flex-end;
}

.pos--rel {
  position: relative;
}

.pos--abs {
  position: absolute;
}

.pos--horizontal {
  left: 50%;
  transform: translateX(-50%);
}

.pos--vertical {
  top: 50%;
  transform: translateY(-50%);
}

.pos--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin--top-1 {
  margin-top: 1rem;
}

.margin--top-2 {
  margin-top: 2rem;
}

.margin--bottom-1 {
  margin-bottom: 1rem;
}

.margin--right-1 {
  margin-right: 1rem;
}

.margin--right-2 {
  margin-right: 2rem;
}

.margin--left-1 {
  margin-left: 1rem;
}

.margin--left-2 {
  margin-left: 2rem;
}

.sep{
  width: 2px;
  background-color: #eee;
  min-height: 2rem;
}

input,
button,
textarea {
  font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #89b8de !important;
  box-shadow: 0 0 0 0.4rem #50a2e61a,
    0 0 0 0.2em #9ec5e669;
}

textarea {
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container__home-title{
  margin-bottom: 2rem;
}

.container__home-title h2{
  font-size: 3rem;
  font-weight: 100;
  color: #000;
}

.error{
  color: darkred;
  margin-bottom: .7rem;
}

.input input,
.input textarea,
.input select {
  padding: 1rem 1.4rem;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  background-color: transparent;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .025);
  z-index: 210;
}

.modal--closed {
  display: none;
}

.modal__main {
  width: 70rem;
  margin: 8rem auto 0;
  box-shadow: 0 0 1px #acacac,
    0 0 7px #bfbfbf;
}

.modal__main .card__header, .modal__main .card__footer, .modal__main .card__body{
  padding: 1.4rem 1.6rem;
}

.modal__main .card__header svg {
  cursor: pointer;
  fill: #b8b8b8;
  width: 1.5rem;
  height: 1.5rem;

  &:hover {
    fill: darkred;
  }
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
}

.twin-inputs{
  display: flex;
  justify-content: space-between;
}

.twin-inputs .input {
  flex: 0 0 49%;
}