.container__hero{
  position: relative;
  color: #fafafa;
}

.container__hero__background{
  height: 60rem;
  background-color: red;
  filter: brightness(0.5);
  background-position-y: 0;
}

.container__hero__content__bottom-left{
  position: absolute;
  left: 4rem;
  bottom: 4rem;
}

.container__hero__content__bottom-left h1{
  font-size: 5rem;
  flex-direction: column;
}

.container__hero__content__bottom-left h1 .highlight{
  color: #50a2e6;
}

.container__hero__content__bottom-left p{
  margin-top: 3rem;
}

.container__hero__content__bottom-left p button{
  margin-left: 1rem;
}